* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole debug */

.debug {

}


/* css */

body {
    font-family: "fredoka", sans-serif;
    width: 80%;
    margin: auto;
}

.ele {
    text-align: center;
    margin: 20px;
}

h1 {
    color: rgb(229, 49, 112);
}

.container {
    float: left;
    width: calc(100% / 3);
}

.col{
    margin: 10px;
    height: 100px;
    background-color: black;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

h2 {
    color: white;
}

p {
    color: white;
}

a {
    color: rgb(0, 147, 231);
    text-decoration: none;
}

img {
    float: left;
    height: 100%;
}

.card{
    margin: 10px;
}
